* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;

  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  transform: skewY(-10deg);
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
}

.card::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
}

.card::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background-color: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  border-bottom: 200px solid #ccc;
}

.card:hover {
  transform: translateY(-40px);
}

.card-box {
  background-color: #00c7ff;
  padding: 1rem;
  height: 200px;
}

.card-box img {
  position: relative;

  width: 100px;
  object-fit: contain;

  margin-inline: auto;
  display: block;
}

.card-box figcaption {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}

.card-content {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.card-content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
    transparent,
    transparent,
    rgba(0, 0, 0, 0.1)
  );
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.container .card:hover .card-content::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.card:nth-child(1) {
  z-index: 1;
}

.card:nth-child(2) {
  z-index: 2;
}

.card:nth-child(3) {
  z-index: 3;
}
